{% extends "base.html" %}

{% block title %}My tests{% endblock %}

{% block content %}
  <h1>My tests</h1>
  <div class="module">
    {% for test in object_list %}
      <div class="test-info">
        <h3>{{ test.title }}</h3>
        <p>
          <a href="{% url "test_edit" test.id %}">Edit</a>
          <a href="{% url "test_delete" test.id %}">Delete</a>
          <a href="{% url "test_module_update" test.id %}">Edit modules</a>
          {% if test.modules.count > 0 %}
            <a href="{% url "module_content_list" test.modules.first.id %}">
            Manage contents</a>
          {% endif %}
        </p>
      </div>
    {% empty %}
      <p>You haven't created any tests yet.</p>
    {% endfor %}
    <p>
      <a href="{% url "test_create" %}" class="button">Create new test</a>
    </p>
  </div>
{% endblock %}
