{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
	<h2 class="text-center fst-italic lh-lg">Get started</h2>
<figure class="text-end lh-lg">
  <blockquote class="blockquote">
    <p>The roots of education are bitter, but the fruit is sweet. </p>
  </blockquote>
  <figcaption class="blockquote-footer">
	  <cite title>Aristotle</cite>
  </figcaption>
</figure>
<h3 class="text-center fst-italic lh-lg"> About program</h3>
<p class="lh-lg">Using this program you can test your knowledge in any sphere of science and life. Firstly, you should to register or login your account.</p>
<p class="lh-lg">Secondly, you can select a category of test according to your interest.</p>
<h3 class="text-center fst-italic lh-lg"> About authors</h3>
<p class="lh-lg">Viktorya Svirzheuskaya - student of BNTU</p>
<p class="lh-lg">Paman Prigodich - student of BNTU</p>
{% endblock %}