{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
	<h2 class="text-center fst-italic lh-lg">Get started</h2>
<figure class="text-end lh-lg">
  <blockquote class="blockquote">
    <p>The roots of education are bitter, but the fruit is sweet. </p>
  </blockquote>
  <figcaption class="blockquote-footer">
	  <cite title>Aristotle</cite>
  </figcaption>
</figure>
<h3 class="text-center fst-italic lh-lg"> About program</h3>
<p class="text-left">Программа позволяет:</p>
<p class="text-left">1) Проходить созданные тесты</p>
<p class="text-left">2) Создавать тесты</p>
<p class="text-left">3) Просматривать результаты по пройденным тестам</p>
<h3 class="text-center fst-italic lh-lg"> About authors</h3>
<p class="text-left">Виктория Свиржевская - студентка БНТУ</p>
<a href="https://github.com/Glstnd">Github</a>
<p class="text-left">Пригодич Роман - студент БНТУ</p>
<a href="https://github.com/Glstnd">Github</a>
<a href="https://www.linkedin.com/in/raman-pryhodzich-2b9970271/">Linkedin</a>
<p class="text-left">Начинающие разработчики...</p>
{% endblock %}